<div class="card">
  <div class="card-header">
    Sign in
  </div>

  <div class="card-body">
    <%= form_for :user do |f| %>
      <div class="row">
        <div class="col">
          <%= f.label :email, "Email address:", class: "form-label" %>
          <%= f.email_field :email, class: "form-control", placeholder: "name@example.com" %>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <%= f.label :password, "Password:", class: "form-label" %>
          <%= f.password_field :password, class: "form-control", "aria-describedby": "passwordHelpBlock" %>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <%= f.submit "Sign in", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
