<div class="card">
  <div class="card-header hstack">
    <span class="me-auto">
      Roles
    </span>

    <% if can? :create, role %>
      <%= link_to new_admin_role_path(Switch.current_account) do %>
        <%= render "generic/buttons/new" %>
      <% end %>
    <% else %>
      <%= render "generic/buttons/new", disabled: true, tooltip: "You do not have permissions to create Roles" %>
    <% end %>
  </div>

  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name:</th>
          <th scope="col">In Use:</th>
          <th scope="col">Last Updated:</th>
          <th scope="col">Actions:</th>
        </tr>
      </thead>

      <tbody class="table-group-divider" id="roles">
        <% roles.each do |role| %>
          <tr id="role_<%= role.id %>">
            <td><%= role.name %></td>
            <td>
              <% if role.memberships.any? %>
                <%= render "generic/bootstrap_icon", icon: "check-circle", type: "success" %>
              <% else %>
                <%= render "generic/bootstrap_icon", icon: "ban", type: "danger" %>
              <% end %>
            </td>
            <td><%= role.updated_at %></td>
            <td>
              <% if role.administrator %>
                <%= render "generic/buttons/edit", disabled: true, tooltip: "Cannot edit Admin Roles" %>
              <% elsif current_user.role.id == role.id %>
                <%= render "generic/buttons/edit", disabled: true, tooltip: "Cannot edit your own Role" %>
              <% elsif cannot? :update, role %>
                <%= render "generic/buttons/edit", disabled: true, tooltip: "You do not have permissions to edit Roles" %>
              <% else %>
                <%= link_to edit_admin_role_path(Switch.current_account, role.id), class: "link-underline link-underline-opacity-0" do %>
                  <%= render "generic/buttons/edit" %>
                <% end %>
              <% end %>

              <% if role.administrator %>
                <%= render "generic/buttons/delete", disabled: true, tooltip: "Cannot delete Admin Roles" %>
              <% elsif role.memberships.any? %>
                <%= render "generic/buttons/delete", disabled: true, tooltip: "Cannot delete in use Roles" %>
              <% elsif cannot? :delete, role %>
                <%= render "generic/buttons/delete", disabled: true, tooltip: "You do not have permissions to delete Roles" %>
              <% else %>
                <%= link_to admin_role_path(Switch.current_account, role.id),
                  class: "link-underline link-underline-opacity-0",
                  data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure you want to delete Role: #{role.name}?"
                  } do
                %>
                  <%= render "generic/buttons/delete" %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="card-footer">
    <%= render "generic/pagination" %>
  </div>
</div>
