<div class="card-body">
  <div class="row">
    <div class="col-lg-6 mb-3">
      <%= f.label :title, "Title:", class: "form-label" %>
      <%= f.text_field :title, class: "form-control", required: true %>
    </div>

    <div class="col-lg-6 mb-3">
      <%= f.label :reference, class: "form-label hstack" do %>
        <span class="me-auto">Reference:</span>
        <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Reference is only configurable on create">
          <%= render "generic/bootstrap_icon", icon: "info-circle", type: "danger" %>
        </span>
      <% end %>
      <%= f.text_field :reference, class: "form-control", required: type == "Create", disabled: type != "Create" %>
    </div>
  </div>

  <div class="row">
    <div class="col mb-3">
      <%= f.label :visible, "Visible:", class: "form-label" %>
      <span class="form-switch fs-5 ms-2">
        <%= f.check_box :visible, class: "form-check-input border-dark-subtle", role: "switch" %>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 mb-3">
      <%= f.label :position, "Position:", class: "form-label" %>
      <%= f.number_field :position, class: "form-control", required: true, min: 0, step: 1,
        data: {
          bs_toggle: "value_collapse",
          bs_target: "#position_warning",
          bs_values: (product.variants.pluck(:position) - [variant.position]).join(",")
        } %>
    </div>

    <div class="col-lg-6 collapse" id="position_warning">
      <div class="alert alert-warning d-flex align-items-center mb-0" role="alert">
        <%= render "generic/bootstrap_icon", icon: "info-circle", type: "warning", classes: "flex-shrink-0 me-2" %>

        Variant already exists at this position.
        <br />
        Positions at/after this position will be increased by 1.
      </div>
    </div>
  </div>
</div>

<div class="card-footer">
  <%= f.submit type, class: "btn btn-success" %>
</div>