<%= turbo_frame_tag :currencies do %>
  <div class="card">
    <div class="card-header hstack">
      <span class="me-auto">
        Currencies
      </span>

      <% if can? :create, currency %>
        <span data-bs-toggle="modal" data-bs-target="#new_currency_modal">
          <%= render "generic/buttons/new" %>
        </span>

        <%= render "new_modal" %>
      <% else %>
        <%= render "generic/buttons/new", disabled: true, tooltip: "You do not have permissions to create Currencies" %>
      <% end %>
    </div>

    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name:</th>
            <th scope="col">iso:</th>
            <th scope="col">Code:</th>
            <th scope="col">Symbol:</th>
            <th scope="col">Default Currency?</th>
            <th scope="col">Actions:</th>
          </tr>
        </thead>

        <tbody class="table-group-divider" id="currencies">
          <% currencies.each do |currency| %>
            <tr id="currency_<%= currency.id %>">
              <td><%= currency.name %></td>
              <td><%= currency.iso %></td>
              <td><%= currency.code %></td>
              <td><%= currency.symbol %></td>
              <td>
                <% if currency.default? %>
                  <%= render "generic/bootstrap_icon", icon: "check-circle", type: "success" %>
                <% end %>
              </td>
              <td>
                <% if cannot? :delete, currency %>
                  <%= render "generic/buttons/delete", disabled: true, tooltip: "You do not have permissions to delete Roles" %>
                <% else %>
                  <%= link_to admin_currency_path(Switch.current_account, currency.id),
                    class: "link-underline link-underline-opacity-0",
                    data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure you want to remove Currency: #{currency.iso} (#{currency.symbol})?"
                    } do
                  %>
                    <%= render "generic/buttons/delete" %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
