<div class="card">
  <div class="card-header hstack">
    <span class="me-auto">
      Products
    </span>

    <% if can? :create, product %>
      <%= link_to new_admin_product_path(Switch.current_account) do %>
        <%= render "generic/buttons/new" %>
      <% end %>
    <% else %>
      <%= render "generic/buttons/new", disabled: true, tooltip: "You do not have permissions to create Products" %>
    <% end %>
  </div>

  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Title:</th>
          <th scope="col">Reference:</th>
          <th scope="col">Last Updated:</th>
          <th scope="col">Actions:</th>
        </tr>
      </thead>

      <tbody class="table-group-divider" id="products">
        <% products.each do |product| %>
          <tr id="product_<%= product.id %>">
            <td><%= product.title %></td>
            <td><%= product.reference %></td>
            <td><%= role.updated_at %></td>
            <td>
              <% if cannot? :update, product %>
                <%= render "generic/buttons/edit", disabled: true, tooltip: "You do not have permissions to edit Products" %>
              <% else %>
                <%= link_to edit_admin_product_path(Switch.current_account, product.id), class: "link-underline link-underline-opacity-0" do %>
                  <%= render "generic/buttons/edit" %>
                <% end %>
              <% end %>

              <% if cannot? :delete, product %>
                <%= render "generic/buttons/delete", disabled: true, tooltip: "You do not have permissions to delete Products" %>
              <% else %>
                <%= link_to admin_product_path(Switch.current_account, product.id),
                  class: "link-underline link-underline-opacity-0",
                  data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure you want to delete Role: #{product.name}?"
                  } do
                %>
                  <%= render "generic/buttons/delete" %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="card-footer">
    <%= render "generic/pagination" %>
  </div>
</div>
