<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">
      <%= link_to "Users", admin_users_path(Switch.current_account) %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= membership.user.email %>
    </li>
  </ol>
</nav>

<%= form_for :user, url: admin_user_path(Switch.current_account, membership), method: :patch do |f| %>
  <div class="card mb-3">
    <div class="card-header">
      User:
    </div>

    <div class="card-body">
      <div class="row mb-3">
        <div class="col">
          <%= f.label :role, class: "form-label" do %>
            Role:
          <% end %>
          <%= f.select :role,
            roles_scope.map { |role|
              [ role.name, role.id, { "data-bs-target": role.administrator ? "#administrator_warning" : nil } ]
            },
            { selected: membership.role.id, include_blank: "- Select -", required: true },
            { class: "form-select", "data-bs-toggle": "collapse" } %>
        </div>
      </div>

      <div class="collapse row" id="administrator_warning">
        <div class="col">
          <div class="col alert alert-danger" role="alert">
            <%= render "generic/bootstrap_icon", icon: "info-circle", type: "danger" %>
            Caution! After assigning an administrator Role to a User it cannot be changed.
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <%= f.submit "Update", class: "btn btn-success" %>
    </div>
  </div>
<% end %>
