<div class="card">
  <div class="card-header hstack">
    <span class="me-auto">
      Users
    </span>

    <% if can? :add, Membership %>
      <%= link_to new_admin_user_path(Switch.current_account) do %>
        <%= render "generic/buttons/new" %>
      <% end %>
    <% else %>
      <%= render "generic/buttons/new", disabled: true, tooltip: "You do not have permissions to add Users" %>
    <% end %>
  </div>

  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name:</th>
          <th scope="col">Email:</th>
          <th scope="col">Role:</th>
          <th scope="col">Last Updated:</th>
          <th scope="col">Actions:</th>
        </tr>
      </thead>

      <tbody class="table-group-divider" id="users">
        <% memberships.each do |membership| %>
          <tr id="user_<%= membership.id %>">
            <td><%= membership.user.name %></td>
            <td><%= membership.user.email %></td>
            <td><%= membership.role.name %></td>
            <td><%= membership.updated_at %></td>
            <td>
              <%= render "generic/buttons/edit", disabled: true, tooltip: "You do not have permissions to edit Users" %>
              <%= render "generic/buttons/delete", disabled: true, tooltip: "You do not have permissions to delete Users" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="card-footer">
    <%= render "generic/pagination" %>
  </div>
</div>
